*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color-scheme: light;
}

body, h1, h2, h3, p {
  margin: 0;
}

button, input, select, textarea {
  font: inherit;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-inline-size: 100%;
}
